* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* border: 2px solid red; */
}

body {
    /* background-color: #000; */
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* Header Styles */

ul {
    list-style: none;

    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header {
    color: #f9faf8;
    background-color: #1f2937;

    display: flex;
    flex-direction: column;
}

.nav, .hero {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-bottom: 50px;
}

.hero {
    gap: 40px;
}

.hero button {
    width: 125px;
    color: #f9faf8;
    background-color: #3882f6;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 8px 32px;
}

.logo {
    font-size: 24px;
}

.statement, placeholder {
    flex: 1;
}

.statement {
    width: 350px;
    height: 243.5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.placeholder {
    height: 243.5px;
}

/* Information Styles */

.information { 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h2 {
    padding: 32px 0px 32px 0px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.card {
    text-align: center;
    width: 150px;
    height: 300px;
}

.tile {
    border: solid 3px #3882f6;
    border-radius: 10px;
}

/* Third section styles */

.third-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

figure {
    width: 725px;
}

blockquote p {
    font-size: 32px;
    font-style: italic;
    color: #1f2937;
}

figcaption {
    text-align: end;
    padding-right: 25px;
}

cite {
    font-style: normal;
    font-weight: bold;
}

/* Fourth section styles */

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-to-action {
    width: 1000px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 25px;
}

.call-to-action button {
    border: solid 2px #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    padding: 8px 32px;
}

/* Fifth section styles */

.fifth-section {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 50px;
}